<?xml version="1.0" encoding="utf-8"?>
<manifest 
package="com.github.scrud.sample.android" xmlns:android="http://schemas.android.com/apk/res/android">
  <application 
  android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:name="com.github.scrud.sample.android.AndroidSampleApplication" android:theme="@android:style/Theme.NoTitleBar" android:backupAgent="com.github.scrud.android.backup.CrudBackupAgent" android:restoreAnyVersion="true">
    <meta-data android:name="com.google.android.backup.api_key" android:value="TODO: get a backup key from http://code.google.com/android/backup/signup.html and put it here."/>
    <activity 
    android:name="com.github.scrud.android.CrudActivity" android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
</activity>
    <provider android:authorities="com.github.scrud.sample.android.provider" android:name="com.github.scrud.android.persistence.LocalCrudContentProvider" android:exported="false" android:grantUriPermissions="false" android:multiprocess="true" android:syncable="false"/>
</application>
  <uses-sdk android:minSdkVersion="16"/>
</manifest>
